# Direct dependencies
mkdocs
Pygments
markdown
pymdown-extensions
mkdocs-material-extensions
mkdocs-git-revision-date-localized-plugin
mkdocs-material

git+https://github.com/insper-education/active-handout-plugins-py.git@latest
git+https://git@github.com/insper-education/pytest-devlife.git@latest
git+https://git@github.com/insper-education/active-handout-theme.git@latest
