.md-printing-header {
    display: none;
}


@media print {
    .no-print {
        display: none;
    }

    
    .admonition.note.short, .admonition.question.short {
        padding-bottom: 100px;
    }

    .admonition.note.medium, .admonition.question.medium {
        padding-bottom: 200px;
    }
    

    .admonition.note.long, .admonition.question.long {
        padding-bottom: 300px;
    }
    
    .admonition, .codehilite {
        break-inside: avoid;
    }    
    
    .md-printing-header {
        margin-top: 0px;
        display: block;
        width: 100%;
        
        font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: rgba(0,0,0,.54);
    }
    
    
    .md-printing-header .cabecalho {
        position: absolute;    
        right: 0px;
        max-width: 7cm;
    }
    
    .md-printing-header .logo {
        max-width: 3cm;
        margin-top: 1cm;
        margin-left: 1cm;
    }
    
    .md-printing-header .frontmatter {
        width: 20cm;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .md-printing-header .frontmatter .materia {
        font-size: 20pt;
    }
    
    .md-printing-header .frontmatter .professor {
        font-size: 18pt;
    }
    
    .md-printing-header .frontmatter .semestre {
        font-size: 15pt;
    }
    
    .md-content {
        margin-right: 1.5cm;
        margin-left: 1.5cm;
    }
        
    @page  
    { 
        size: auto;
        margin: 0mm 0mm 0mm 0mm;  
    } 
    
}




